.card-container {
    display: flex;
    flex-direction: column;
    width: 230px;
    font-family: Lato, sans-serif;
    border: 1px solid rgb(215, 217, 222);
    margin: 0 8px 24px 8px;
    background-color: white;
    justify-content: space-between;
    cursor: pointer;
}

.card-container__card-image {
    width: 230px;
    height: auto;
}

.card-container__image-item {
    width: 228px;
    height: auto;
    opacity: 0.9;
}

.card-container__image-item:hover {
    transition: opacity 0.25s ease-out 0s,
        color 0.25s ease-out 0s;
    opacity: 1;
}

.card-container__card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px 16px 16px;
    min-height: 197px;
}

.card-container__card-title {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 8px;
}

.card-container__card-description {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 14px;
    overflow: hidden;
}

.card-container__details-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container__details-description > p {
    font-weight: 700;
    font-size: 11px;
    margin: 0;
}

.card-container__card-details {
    display: flex;
    justify-content: space-between;
}

.card-container__trainer-list {
    display: -webkit-box;
    max-width: 100px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-container__icon-item {
    width: 68px;
    height: 51px;
}

.card-container__details-icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 639px)  {
    .card-container {
        flex-direction: row;
        width: 98%;
        min-height: 165px;
    }
    .card-container__card-image {
        width: 140px;
        min-height: 165px;
    }
    .card-container__image-item {
        width: 140px;
        min-height: 163px;
    }
    .card-container__card-body {
        min-height: 165px;
        width: 100%;
    }
    .card-container__card-details {
        width: 100%;
    }
}