.programs-container__sort-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 40px;
}
.sort-by {
  margin: 10px;
}

.programs-container__sort-list {
  align-content: center;
}

.sort-list__items {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.sort-list__item {
  margin: 10px;
}

.sort-list__name {
  color: black;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.sort-list__name:hover {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.sort-list__name:active {
  border-bottom: 2px solid #2490ff;
}
.sort-list__name:focus {
  border-bottom: 2px solid #2490ff;
}